@font-face {
  font-family: 'Tangerine', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Tangerine&display=swap);
}

/* BODY */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-color: #000;
  color: #fff;
  font-family: 'Tangerine', cursive;
  height: 100%;
}

#content {
  height: 100%;
  position: relative;
}
#content::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('https://www.demoslavueltaaldia.com/sites/default/files/pizza_margarita.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/* MAIN */
.main {
  position: relative;
}
.main-content {
  position: relative;
  text-align: center;
}

/* TITLE */
.title-container {
  text-align: center;
}
.title {
  font-size: 10vw;
  cursor: default;
}

/* DESCRIPTION */
.description-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 30vw;
  border: 2px solid #000;
  margin: auto;
  margin-top: 5vh;
}
.description {
  cursor: default;
}

/* NAV BAR */
.nav-bar {
  position: relative;
  background-color: #000;
  color: #fff;
  margin-bottom: 2em;
  height: 6vh;
}

.nav-ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: auto;
  width: 30%;
  justify-content: space-between;
  font-size: 20px;
  padding: 2px 0;
}

.nav-ul li {
  cursor: pointer;
}

.nav-ul li:hover {
  border-bottom: 1px solid red;
}

/* Concact */
.contact-page {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.contact-container {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}
/* img */
.img-container {
  margin: auto;
}

.description-contact {
  width: 30vw;
  border: 2px solid #000;
  padding: 100px 0;
  text-align: center;
}

/* MENU */
.card {
  width: 80%;
  height: 250px;
  margin: 20px auto;
  display: flex;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 250px;
  text-align: center;
}

.menu img {
  width: 250px;
  height: 248px;
}

.text-menu {
  margin: auto;
}
